<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Serviço Curadoria</title>
  <meta name="description" content="Serviço Curadoria">
  <meta name="author" content="Newton">

  <!--<link rel="stylesheet" href="css/styles.css?v=1.0">-->

</head>

<body>
  <br>
  <form action="/entity_recon_script" id="textform" method='post'>
    <textarea rows="20" cols="100" name="content" form="textform"></textarea>
    <input type="submit">
  </form>
  <br>

</body>
</html>